<h1>Dashboard</h1>

<h2>Movement Records</h2>

<h2>Athlete PRs</h2>
<% @athletes.each do |athlete| %>
<h3><%= athlete.name %></h3>
<table>
  <thead>
    <th>Movement</th>
    <th>Weight (lbs)</th>
  </thead>

  <% athlete.personal_records.each_pair do |movement, weight| %>
    <tr>
      <td><%= movement %></tr>
      <td><%= weight %></li></td>
    </tr>
  <% end %>
</table>
<% end %>
