<div class="bg-white border-grey-light shadow hover:shadow-md border-solid border-1 rounded p-4 m-2">
  <div class="flex justify-center">
    <%= image_tag avatar_for(@athlete), class: "w-32 h-32 rounded-full border-4 border-solid border-grey mr-2" %>
  </div>
  <div class="text-center text-5xl text-grey-darkest mt-4">
    <%= @athlete.name %>
  </div>
  <hr class="w-3/5 border-solid border-grey-light border my-4">

  <div class="flex">
    <div class="w-1/2">
      <ul>
        <% @athlete.personal_records.each_pair do |movement, result| %>
          <li><%= movement.capitalize %>: <%= result %></li>
        <% end %>
      </ul>
    </div>
    
    <div class="w-1/2">
      Bar Chart showing count of successes/failures per attempt per lifting
      movement
    </div>
  </div>

  <div class="w-full">
    Line chart showing running performance over time.
  </div>

  <div class="w-full">
    Line chart showing rowing performance over time
  </div>
</div>
