<div class="flex flex-row flex-wrap items-baseline bg-white border-grey-light shadow hover:shadow-md border-solid border-1 rounded p-4 m-2">
  Rough in athlete show

  <div class="flex">
    <div class="w-1/2">
      Personal Records
    </div>
    <div class="w-1/2">
      Bar Chart showing count of successes/failures per attempt per lifting
      movement
    </div>
  </div>

  <div class="w-full">
    Line chart showing running performance over time.
  </div>

  <div class="w-full">
    Line chart showing rowing performance over time
  </div>
</div>
