<div class="h-16 flex flex-row flex-wrap items-baseline bg-white border-grey-light shadow hover:shadow-md border-solid border-1 rounded p-4 m-2">
  Lifting Event show page
  Show all attempts by each athlete
</div>

<div class="h-16 flex flex-row flex-wrap items-baseline bg-white border-grey-light shadow hover:shadow-md border-solid border-1 rounded p-4 m-2">
  Distance Event show page
  Show times for each athlete
</div>
